html {
	padding: 0;
	margin: 0;
  height: 100%;
}
body {
  min-height: 100%;
}
.back {
	background-color: antiquewhite;
	/* min-height: 100%; */
}
.base-tmp {
	width: 1500px;
	height: 100%;
	background-color: #a1a4b0;
	margin-left: 10%;
	margin-top: 10%;
}
.wrap {
   margin-left: 295px;
   margin-right: 279px;
   /* perspective: 646px; */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	/* width: 100%; */
	/* border: 1px solid #ddd; */
	/* transform-style: preserve-3d;
	transform: rotateX(57deg); */
}

th, td {
	/* text-align: left; */
	border: 1px solid #5252b0;
	padding: 0;
}

/* hit Miss */
.trg {
	display: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #1a0e11;
    position: absolute;
    z-index: 1;
    top: 41%;
    left: 41%;
}
/* Hitted */
.hit {
	display: none;
    background: #bd2424;
    height: 36px;
    position: absolute;
    width: 5px;
    left: 49%;
    top: 13%;
    box-shadow: inset 1px 1px 2px #2f2b2b;
    transform: rotate(-45deg);
    z-index: 1;
}
.hit:after {
    background: #bb2121;
    content: "";
    height: 5px;
    left: -304%;
    position: absolute;
    top: 43%;
    width: 36px;
}


.ships-dock {
	position: relative;
	width: 50px;
	height: 50px;
}
tr:nth-child(even) { 
	background-color: #1768cf;
}
tr:nth-child(odd) { 
	background-color: #1252a4;
}

 .enem-destroyer1 {
  	    background-color: brown;
 	    width: 50px;
 	    height: 100px;
 	    padding: 0;
 	    position: absolute;	
 }
 .enem-destroyer2 {
  	    background-color: brown;
 	    width: 50px;
 	    height: 100px;
 	    padding: 0;
 	    position: absolute;	
 }

 

 .ply-cruiser1 {
   	    background-color: green;
 	    width: 150px;
 	    height: 50px;
 	    padding: 0;
 	    position: absolute;
 }

 .ply-cruiser2 {
    	background-color: green;
 	    width: 150px;
 	    height: 50px;
 	    padding: 0;
 	    position: absolute;
 }

 .ply-destroyer1 {
  	    background-color: green;
 	    width: 50px;
 	    height: 100px;
 	    padding: 0;
 	    position: absolute;	
 }
  .ply-destroyer2 {
  	    background-color: green;
 	    width: 50px;
 	    height: 100px;
 	    padding: 0;
 	    position: absolute;	
 }







/* Succesfull damage */
 .ac-wrapper {
display: none; 
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,.6);
z-index: 1001;
}
.ac-status {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.player_hit, .player_miss {
	position: relative;
	width: 555px;
	height: 375px;
	top: 20%;
	margin: auto;
}



/* HIT text ***************** */
.player_hit h2 {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}
.player_hit h2:nth-child(odd) { 
	color: #2d2a2a;
}
.player_hit h2 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	margin: 0;
	font-size: 3vw;
	font-weight: 900;
	text-transform: uppercase;
}
.player_hit h2:nth-of-type(2n) {
	margin-top: 3vw;
}

.player_hit h2::before,
.player_hit h2::after {
		content: attr(data-heading);
		position: absolute;
		left: 0;
		overflow: hidden;
	}
	/* Top */
.player_hit h2::after {
		transform: translateX(-10px);
		height: 49%;
		color: #2d2a2a;
	}
	
	/* middle */
.player_hit h2::before {
		height: 50%;
		color: white;
		text-shadow: 3px -2px 5px white, -3px 3px 4px white;
	}

/* Animation */
.player_hit h2::after {
	transform: translateX(0);
	animation: fracture 5s infinite ease;
}
@keyframes fracture {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-15px);
	}
}

/* **************** */
.player_miss h2 {
    font-family: 'Roboto', sans-serif;
    color: #e2dfdf;
    font-size: 3vw;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 1px 1px #525050;
}
.player_miss h3 {
	font-family: 'Roboto', sans-serif;
	color: #2d2a2a;
	font-size: 2vw;
	font-weight: 900;
	margin: 0;
}




.popup{
width: 555px;
height: 375px;
background: #FFFFFF;
border: 5px solid #000;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
box-shadow: #64686e 0px 0px 3px 3px;
-moz-box-shadow: #64686e 0px 0px 3px 3px;
-webkit-box-shadow: #64686e 0px 0px 3px 3px;
position: relative;
top: 20%;
margin: auto;
}
.popup .close {
    position: absolute;
    right: 20px;
    top: 18px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url('http://g02.a.alicdn.com/kf/HTB1jHxALVXXXXa.XpXX760XFXXXE.png') no-repeat;
}
.popup .radar {
	width: 100%;
    height: 209px;
	background: url("res/radar.gif") no-repeat center;
}